* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: ease-in-out 0.2s;
}

:root{
    --main-color: #e38978;
    --secondary-color: #fff8;
    --light-background-color: #F9DCC4;
    --dark-background-color: #d16b58;
    --fa-border-color: var(--main-color) !important;
    --fa-border-radius: 50%;
    --fa-border-width: thin;
    --fa-border-padding: 1.5rem;
    --bs-table-striped-bg: var(--secondary-color) !important;
}

.container-info-section{
background-color: var(--light-background-color);
padding: 3rem;
box-shadow: 0 1px 10px 1px rgba(34, 60, 80, 0.2);
margin-bottom: 1.2rem;
}


.info-section{
margin: auto;
padding-top: 1.5rem;
max-width: 70%;
}

.section-title{
color: var(--main-color);
font-weight: bold;
font-size: 1.8rem;
}

.section-info-text{
color: #333;
font-size: 1.05rem;
}

.section-info-text a{
color: #333 !important;
font-size: 1.1rem;
text-decoration: none;
}

.section-info-text a:hover{
color: var(--main-color) !important;
}

.container-info-section .row{
margin: auto;
}

.container-info-section .col a{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: #333;
text-decoration: none;
font-size: 1.2rem;
}

.container-info-section .col a:hover{
transform: scale(1.1);
}

.fa-headphones-simple, .fa-pencil, .fa-comment-dots{
--fa-border-color: var(--main-color) ;
color: var(--main-color) ;
}

.table{
    --bs-table-striped-bg: var(--secondary-color) !important;
    border-color: transparent;
    color: var(--dark-background-color);
}

.auth {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--light-background-color);
    padding: 30px;
}

.auth__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

.auth__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: var(--secondary-color);
    background-color: var(--dark-background-color);
}

.auth div {
    margin-top: 7px;
}

.profile-header{
    display: flex;
    background-color: var(--secondary-color);
    color: var(--main-color);
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}

.edit-btn{
    margin: auto;
    padding: 10px 40px;
    font-size: 18px;
}

.profile-info h6{
    font-size: 20px !important;
}

.profile-progress{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--main-color);
}

.progress-container{
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    align-items: center;
    background-color: var(--light-background-color);
    color: var(--main-color);
    border-radius: 2px;
}
