.hero-img{
    max-width: 400px;
    max-height: 500px;
    margin-right: 100px;
}

.container-hero-section{
    background-color: #F9DCC4;
}

.container-hero-section .col{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.row{
    padding: 1.2rem;
}

.hero-text-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.hero-title{
    font-weight: bold;
    color: #e38978;
}

.hero-text{
    margin-top: 0.7rem;
    font-size: 1.1rem;
}

@media (max-width: 768px){

    .hero-title{
        font-size: 1.4rem;
    }


    .hero-text{
        font-size: .9rem;
    }
}